body{
    background-color: #14274E;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}


.main{
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.deadline{
    height: 10vh;
    color: #E3E3E3;
    font-size: 18px;
}

.heading h1{
    background-color: black;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 58px;
    color: #E3E3E3;
}

.heading span{
    color: #C70039;
}

.counter{
    display: flex;
    flex-direction: row;
}

.box{
    text-align: center;
    width: 200px;
    height: 20vh;
    font-size: 24px;
    line-height: 25px;
    background-color: #F1F6F9;
    color: #394867;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);
}

.box3{
    margin-right: 0;
}

@media screen and (max-width:400px){

    .heading{
        margin-top: 50px;
    }

    .heading h1{
        font-size: 50px;
        box-shadow: 0px 2px 0px 4px rgb(67, 96, 150);
    }

    .deadline{
        background-color: #394867;
        padding: 10px;
        border-radius: 5px;
        width: 60%;
        margin-bottom: 25px;
        text-align: center;
    }

    .counter{
        flex-direction: column;
    }

    .box{
        height: 10vh;
        margin-bottom: 25px;
        margin-right: 0;
    }
    
    .box span{
        margin-top:-20px;
    
}
